@page
@{
    ViewData["Title"] = "Senior Full-Stack Developer aus Leidenschaft";
}

<article>
    <p class="lead">Ich suche am Standort Graz eine Stelle als</p>
    <h1>@ViewData["Title"]</h1>
    <p class="lead">in Teil- oder Vollzeit</p>
    <h2>Meine Aufgaben</h2>
    <ul>
        <li>Als .NET Softwareentwickler (rund um aktuelle Technologien, Produkte und Dienstleistungen von Microsoft) bin ich gerne in allen Prozessen sowie Lebenszyklen von Kundenlösungen involviert; dabei bemühe ich mich die, .</li>
        <li>Neben der korrekten Usetzung funktionaler Anforderungen unter der Berücksichtigung nicht-funktionaler Anforderungen, achte ich auch auf die Qualität der Anforderungen</li>
        <li>Dabei teile ich gerne alles, was dabei entsteht, sowie alles was ich weiß, sofern es jemanden interessiert, und auch das, was ich nicht weiß, mit.</li>
    </ul>
    <h2>Ich habe</h2>
    <ul>
        <li>Kenntnisse in C#, HTML, CSS und JavaScript</li>
        <li>Erfahrung mit SharePoint (2010, 2013; Farm Solutions) und Azure (Web Apps, DevOps)</li>
    </ul>
    <h2>Ich wünsche mir</h2>
    <ul>
        <li>Lärmfreie, wohl klimatisierte Arbeitsumgebung</li>
        <li>Leistungsstarke Hardware, ergonomische Ein- und Ausgabegeräte, aktuelle Software, flotte Internet-Verbindung</li>
        <li>Konstruktive Kritik</li>
    </ul>
    <h2>Gehaltsinformation</h2>
    <p>Ich erwarte mir eine leistungsgerechte Entlohnung; dabei sollte mein Bruttogehalt mit dem der erfahrenen SoftwareentwicklerInnen, die mich bei der hochqualitativen Umsetzung der Anforderungen unterstützen, korrelieren.</p>
    <div class="red-label">
        <img class="red-label-illustration" src="~/img/red-label.svg" alt="IT for innovators." />
    </div>    
</article>
