@page
@{
    ViewData["Title"] = "Senior Full-Stack Developer aus Leidenschaft";
}

<article>
    <p class="lead">Ich suche am Standort Graz eine Stelle als</p>
    <h1>@ViewData["Title"]</h1>
    <p class="lead">in Teil- oder Vollzeit</p>
    <h2>Mein Angebot</h2>
    <ul>
        <li>Als .NET Softwareentwickler unterstütze ich Ihr Team sowohl im Front- als auch im Back-End-Bereich über den gesamten Lebenszyklus entwickelter Systeme hinweg.</li> 
        <li>Neben der korrekten Umsetzung funktionaler Anforderungen, unter der Berücksichtigung nicht-funktionaler Anforderungen, achte ich auch auf die Qualität der Anforderungen.</li>
    </ul>
    <h2>Mein Profil</h2>
    <ul>
        <li>Fundamentale Allgemeinbildung</li>
        <li>Kritische, unabhängige Denkweise</li>
        <li>Interesse für das kollektive Gesamtergebnis</li>
        <li>Mehrjährige Berufserfahrung (Informationstechnik, Großhandel, Maschinenbau, Industrie- und Gebäudeautomatisierung)</li>
        <li>Einfühlungsvermögen in die Bedürfnisse der Endanwender</li>
        <li>Ortsunabhängige Entwicklung, überregionale Reisebereitschaft</li>
        <li>Kenntnisse in C#, HTML, CSS und JavaScript</li>
        <li>Erfahrung mit SharePoint (2010, 2013; Farm Solutions) und Azure (Web Apps, DevOps)</li>
    </ul>
    <h2>Meine Erwartungen</h2>
    <ul>
        <li>Flexible Arbeitszeiten</li>
        <li>Lärmfreie und wohl klimatisierte Arbeitsumgebung</li>
        <li>Leistungsstarke Hardware, ergonomische Ein- und Ausgabegeräte</li>
        <li>Aktuelle Software, flotte Internet-Verbindung</li>
        <li>Informatives Feedback (offen, direkt und zeitnah)</li>
        <li>Betriebswirtschaftliche Transparenz</li>
        <li>Kaffee, Milch und Zucker</li>
    </ul>
    <h2>Gehaltsinformation</h2>
    <p>Ich erwarte mir eine leistungsgerechte Entlohnung; das gebotene Bruttogehalt sollte gleichzeitig mit dem der erfahrenen SoftwareentwicklerInnen, die mich bei der hochqualitativen Umsetzung der Anforderungen unterstützen, korrelieren.</p>
    <div class="red-label">
        <img class="red-label-illustration" src="~/img/red-label.svg" alt="IT for innovators." />
    </div>    
</article>
