@page
@model IndexModel
@{
    ViewData["Title"] = "Senior Full-Stack Developer aus Leidenschaft";
}

<article>
    <p class="lead">Ich suche am Standort Graz eine Stelle als</p>
    <h1>@ViewData["Title"]</h1>
    <p class="lead">in Teil- oder Vollzeit</p>
    <h2>Meine Aufgaben</h2>
    <ul>
        <li>Sie sind als .NET SoftwareentwicklerIn (für Azure und/oder SharePoint) von der Konzeption, über die Implementierung, bis hin zum Testing, und der Auslieferung von Kundenlösungen involviert.</li>
        <li>Ihre Verantwortung liegt darin die Anforderungen effiz[i]ent und mit einer hohen Qualität umzusetzen, dabei unterstützt Sie ein Team von erfahrenen Entwickler(n)Innen.</li>
    </ul>
    <h2>Mein Profil</h2>
    <ul>
        <li>Fundierte IT-Ausbildung (Uni)</li>
        <li>Genauigkeit, Motivation, Lernbereitschaft</li>
        <li>Teamfähigkeit, hohe Kundenorientierung, analytisches Denkvermögen</li>
        <li>Verantwortungsbewusstsein und hohe Eigeninitiative</li>
        <li>Kenntnisse in C#, HTML, CSS und JavaScript</li>
        <li>Erfahrung mit SharePoint (2010, 2013; Farm Solutions) und Azure (Web Apps, DevOps)</li>
    </ul>
    <h2>Mein Angebot</h2>
    <ul>
        <li>Sicherer und stabiler Arbeitnehmer</li>
        <li>Spannendes, eigenständiges und herausforderndes Aufgabengebiet mit Selbstverantwortung</li>
        <li>Guter Teamspirit und kollegiales Miteinander</li>
        <li>Kurze Entscheidungswege, flache Hierarchien</li>
        <li>TOP Arbeitsatmosphäre und Team-Events</li>
        <li>Privatnutzung der Arbeitsausstattung (Handy und Notebook)</li>
        <li>Fortbildungsmöglichkeiten (interne Workshops, Bücher, Seminare, Konferenzen, Lernplattformen)</li>
        <li>Beteiligung am Firmenerfolg über ein Provisionsmodell</li>
        <li>Essensgutscheine (Sodexo), gratis Kaffee, Tee, Obst und Mineralwasser</li>
        <li>Homeoffice-Möglichkeit nach Absprache</li>
    </ul>
    <h2>Gehaltsinformation</h2>
    <p>Ich erwarte mir eine leistungsgerechte Entlohnung; dabei sollte mein Bruttogehalt mit dem der erfahrenen SoftwareentwicklerInnen, die mich bei der effizienten und hochqualitativen Umsetzung der Anforderungen unterstützen, korrelieren.</p>
    <div class="label">
        <img src="~/img/label.svg" />
    </div>    
</article>
