<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Microsite, Nachbau, Optimierung, Microsoft Azure, ASP.NET Core, Razor Pages, C#, HTML, CSS" />
    <meta name="description" content="Eine Microsite als individuelle Bewerbung; Beweisführung durch Einzelanfertigung." />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/favicon.ico" asp-append-version="true">
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header class="masthead">
        <img class="masthead-logo" src="~/img/logo.svg" alt="Logo" />
        <div class="masthead-slogan">Miteinander<br />weiter denken.</div>
    </header>
    <div class="container">
        <aside>
            <partial name="_Sidebar" />
        </aside>
        <main role="main">
            @RenderBody()
        </main>
    </div>
</body>
</html>
