<img class="killer-argument-illustration" src="~/img/generic-stock-image.jpg" width="398" height="264" alt="Dual-Monitor Mac Pro 2013 Setup" />
<nav>
    <p class="lead killer-argument">Ich biete mehr als nur eine Position für die Lohn- und Gehaltsabrechnung: echtes Interesse für das kollektive Gesamtergebnis. Individuelle Behandlung statt vorlagenbasierter Massenabfertigung. Kausale Zusammenhänge statt zufälliger Zahlen. Konkrete Schlussfolgerungen statt unbegründeter Meinungen.</p>
    <div class="h2">Kontakt</div>
    <p>Ich freue mich über eine konstruktive Rückmeldung, auch ohne Lebenslauf und Foto.</p>
    <div class="h2">Herr Nikita Sharov</div>
    <address>Actin Uranium<br />Mariatroster Straße 172<br />A-8044 Graz<br /><a href="https://www.235u.net">www.235u.net</a></address>
    <a href="https://acp.235u.net" class="button" role="button">Online betrachten</a>
</nav>