<img class="killer-argument-illustration" src="~/img/generic-stock-image.jpg" width="398" height="264" />
<nav>
    <p class="lead">Ich biete mehr als nur eine Position für die Lohn- und Gehaltsabrechnung: Ein echtes Interesse für das kollektive Gesamtergebnis statt dem eigenes Süppchen Kochen.</p>
    <hr />
    <p><strong>Kontakt</strong></p>
    <p>Ich freue mich über Ihre Rückmeldung, selbst ohne Anschreiben, Lebenslauf oder Foto.</p>
    <address>
        <strong>Herr Nikita Sharov</strong><br />
        Actin Uranium<br />
        Mariatroster Straße 172<br />
        A-8044 Graz<br />
        <a href="https://www.235u.net">www.235u.net</a>
    </address>
    <button>Online anwerben</button>
    <hr />
    <div>
        <a href="mailto:nikita.sharov@235u.net">
            <img class="icon" src="~/img/mail.png" />
        </a>
    </div>
</nav>