@font-face {
    font-display: swap;
    font-family: "Apex New Medium";
    src: local("Apex New Medium"), url('../fonts/apex-new-medium.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: "Apex New Book";
    src: local("Apex New Book"), url('../fonts/apex-new-book.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: "Apex Rounded Book";
    src: local("Apex Rounded Book"), url('../fonts/apex-rounded-book.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: "Apex Rounded Medium";
    src: local("Apex Rounded Medium"), url('../fonts/apex-rounded-medium.woff') format('woff');
}

:root {
    --bright-red: #f00f40;
    --dark-gray: #2b2a2f;
    --light-gray: #ebeced;
    --pure-white: #fff;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    color: var(--dark-gray);
    font-family: "Apex New Book";
    line-height: 1.3;
    margin: 60px auto;
    max-width: 1140px;
}

img {
    display: block;
}

.masthead {
    background-color: var(--bright-red);
}

.masthead-logo {
    margin-left: 60px;
    position: absolute;
    width: 120px;
}

.masthead-slogan {
    color: white;
    font-family: "Apex Rounded Medium";
    font-size: 90px;
    line-height: 1;
    margin-left: 398px;
    padding: 71px 60px 49px;
}

.container {
    display: flex;
}

aside {
    width: 398px;
    background-color: var(--light-gray);
}

.killer-argument-illustration {
    margin-top: -170px;
}

nav {
    padding: 60px;
}

address {
    font-style: normal;
    margin-bottom: 30px;
}

strong {
    font-family: 'Apex New Medium';
}

button {
    display: block;
    font-family: "Apex New Medium";
    background-color: var(--dark-gray);
    color: white;
    border: none;
    /*border-radius: 3px;*/
    padding: 14px 50px;
    font-size: 16px;
}

hr {
    border: none;
    border-top: 1px solid var(--dark-gray);
    margin: 40px 0;
    width: 100px;
}

.icon {
    width: 38px;
}

article {
    border-right: 1px solid var(--light-gray);
    border-bottom: 1px solid var(--light-gray);
    padding: 60px;
}

h1,
h2 {
    font-family: "Apex New Medium";
    line-height: 1.2;
}

h1 {    
    font-size: 50px;    
    margin: 0 0 20px;
}

h2 {
    color: var(--bright-red);
    font-size: 18px;
    margin: 40px 0 10px;
}

p {
    margin: 0 0 20px;
}

.lead {
    font-size: 22px;
}

ul {
    margin: 0;
}

.red-label {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
}

    .red-label > img {
        margin-right: -61px;
        width: 250px;
    }
